<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--stdout appender-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--<pattern>%-5level: %msg%n</pattern>-->
            <!--todo append error if level > INFO-->
            <pattern>%-5level: %m%n%rEx{full,
                java.lang,
                sun,
                org.springframework,
                net.sf.cglib,
                ByCGLIB
                }</pattern>
        </encoder>
    </appender>

    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </root>


    <logger name="org.springframework.shell" level="INFO"/>
    <logger name="org.s4s0l.shathel" level="INFO"/>
    <logger name="org.s4s0l.shathel.deployer.Main$" level="Error"/>
    <logger name="org.s4s0l.shathel.deployer.Main" level="Error"/>

</configuration>