<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!--stdout appender-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--<pattern>%-5level: %msg%n</pattern>-->
            <!--todo append error if level > INFO-->
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </root>


    <logger name="org.springframework.shell" level="INFO"/>

</configuration>